* {
	list-style-type: none;
}
#board {
	text-align: center;
}
#board h1 {
	text-align: center;
	background: #9b59b6;
	padding: 20px 0;
	font-family: 'Arial';
	color: white;
	font-weight: bold;
}
.column {
	width: 20%;
	float: left;
	text-align: center;
	background: #c0392b;
	border: solid white 5px;
	color: white;
	font-family: Arial;
	height: 300px;
	overflow: auto;
	border-radius: 15px;
	margin-top: 30px;
}
.btn-delete {
	float: right;
	display: inline-block;
	margin-right: 20px;
	background: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.column-add-card {
	background: #2ecc71;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
}
.create-column {
	font-size: 18px;
	font-weight: bold;
	color: white;
	font-family: Arial;
	background: #2980b9;
}
.column-container {
	padding: 0 30px;
}
@media (max-width: 1100px) {
	.add-card {
		font-size: 14px;
	}
	.btn-delete {
		font-size: 14px;
	}
}
@media (max-width:992px) {
	.column {
		width: 30%;
	}
}
@media (max-width: 768px) {
	.column {
		width: 40%;
	}
} 
@media (max-width: 600px) {
	.column {
		width: 90%;
	}
}